<form action="/user/update-user/<%= updateUser.id%>" method="post">
  <p>
    <input
      type="text"
      name="name"
      placeholder="Your Name"
      value="<%= updateUser.name %>"
      required
    />
  </p>
  <p>
    <input
      type="email"
      name="email"
      placeholder="Your Email"
      value="<%= updateUser.email %>"
      required
    />
  </p>
  <p>
    <input
      type="password"
      name="oldPassword"
      placeholder="Old Password"
      required
    />
  </p>
  <p>
    <input type="password" name="password" placeholder="Password" required />
  </p>
  <p>
    <input
      type="password"
      name="confirm_password"
      placeholder="Confirm Password"
      required
    />
  </p>
  <p><input type="submit" value="Update Details" /></p>
</form>
